<div class="modal-dialog" role="document" style="width: 60%">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" style="color: #603477; font-size: x-large; font-family: serif">查看细节</h4>
        </div>
        <div class="modal-body">
            <div class="ui segments order">
                <div class="ui segment">
                    <h5 class="ui header">Order
                    </h5>
                </div>
                <div class="ui segment flag">
           
                </div>
            </div>
              <div class="ui segments income">
                <div class="ui segment">
                    <h5 class="ui header">Income
                    </h5>
                </div>
                <div class="ui segment flag">
           
                </div>
            </div>
        </div>
    </div>
</div>



